<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collection Valuation</title>
    <base href="/" />
    <link rel="icon" type="image/ico" href="img/logo-modal.png" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/mystyle-coman.css" rel="stylesheet" />
    <link href="css/media.css" rel="stylesheet" />
    <link href="css/admin-style.css" rel="stylesheet" />
    <link href="css/datatables.min.css" rel="stylesheet" />
  </head>

  <body>
    <div id="wrapper">
      <nav
        class="navbar-default navbar-expand-lg navbar-static-side left-main-menu"
        role="navigation"
      >
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <div class="logo-panel text-center float-n">
                  <a href="admin/dashboard">
                    <img src="img/logo-modal.png" alt=""
                  /></a>
                </div>
              </div>
              <div class="logo-element">
                <a href="admin/dashboard">
                  <img src="img/logo-modal.png" alt=""
                /></a>
              </div>
            </li>
            <li>
              <a href="admin/dashboard" title="dashboard"
                ><i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="nav-label">Dashboard</span></a
              >
            </li>
            <li>
              <a href="admin/members" title="Members"><i class="fa fa-users" aria-hidden="true"></i> <span class="nav-label">Members </span></a>
           </li>
           <li>
              <a href="admin/coins"  title="Coins"><i class="fa fa-database" aria-hidden="true"></i> <span class="nav-label">Coins</span></a>
           </li>
           <li class= "active">
              <a href="admin/bankNotes" title="Bank Note"><i class="fa fa-file-text" aria-hidden="true"></i><span class="nav-label">Bank Note</span></a>
           </li>
           <li>
              <a href="admin/graded-coins" title="Graded coins"><i class="fa fa-usd" aria-hidden="true"></i> <span class="nav-label">Graded coins </span></a>
           </li>
           <li>
              <a href="admin/graded-notes" title="Graded Notes "><i class="fa fa-file" aria-hidden="true"></i> <span class="nav-label margin-top">Graded Notes </span></a>
           </li>
           <li>
              <a href="admin/orders" title="Orders"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="nav-label margin-top">Orders</span></a>
           </li>
            <li  class="">
              <a href="admin/auctions" title="Auction"><i class="fa fa-gavel" aria-hidden="true"></i> <span class="nav-label margin-top">Auction</span></a>
           </li>
           <li  class="">
            <a href="admin/kycRequests" title="Kyc"><i class="fa fa-briefcase"></i> <span class="nav-label">KYC Request</span></a>
         </li>
            <li>
              <a href="admin/disputeRequest" title="Dispute Request"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="nav-label margin-top">Dispute Request</span></a>
           </li>
          
           <li>
              <a href="admin/cmsPages" title="CMS Pages"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="nav-label margin-top">CMS Pages</span></a>
           </li>
          </ul>
        </div>
      </nav>
      <div id="page-wrapper" class="dark-bg">
        <div class="row top-menu2">
          <nav
            class="navbar navbar-static-top dark-bg-header top-menu"
            role="navigation"
            style="margin-bottom: 0"
          >
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i>
            </a>
         </div>
         <ul class="nav navbar-top-links navbar-right">
          <li class="user-info-box welcome tooltipa">
              <div class="dropdown d-flex">
                  <span class="prof-img">
                      <a href="admin/profile">
                        <% if(Object.prototype.toString.call(loggedInUser.profilePic) === '[object Object]' && JSON.stringify(loggedInUser.profilePic) === '{}'){%>
                         <img alt="image" class="img-back" src="img/prf-img.png"></a>
                         <% }else{%>
                            <img alt="image" class="img-back" src="<%=loggedInUser.profilePic.url%>"></a>
                         <%}%>
                  </span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                      <span class="clear"> <span class="block m-t-xs">
                          </span> <span class="text-muted text-xs block"><%=loggedInUser.firstName%> <%=loggedInUser.lastName%><b
                                  class="caret"></b></span> </span> </a>
                  <ul class="dropdown-menu">
                      <li><a href="admin/profile">Profile</a></li>

                      <!--                            <li><a href="contacts.html">Contacts</a></li>-->
                      <li><a href="admin/logout">Logout</a></li>
                  </ul>
              </div>
          </li>
      </ul>
          </nav>
        </div>

        <div class="wrapper wrapper-content">
            
          <div class="row">
              
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="ibox">
                <div class="ibox-content" id="history">
                  <div class="box-heading">
                    <h2>Bank Note</h2>
                  </div>

                  <!-- <div class="text-right m-b-sm">  <button type="submit" class="btn btn-primary"   data-toggle="modal" data-target="#Add-Coins">Add Notes</button></div> -->

                  <div
                    class="table-responsive coman-table"
                    id="owner-detail-btn"
                  >
                    <table class="table dataTables-note">
                        
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Note Name</th>
                          <th>History</th>
                          <th>Price range for graded</th>
                          <th>Price range for non-graded</th>
                          <th>Ruler</th>
                          <th>Year</th>
                          <th>Uploaded By</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function(note){%>
                        <tr>
                          <td><%= note._id%> </td>
                          <td><%= note.name%></td>
                          <td><%= note.history.slice(0, 8)%>...</td>
                          <td>100-200</td>
                          <td>300-350</td>
                          <td><%= note.ruler%></td>
                          <td><%= note.year%></td>
                          <td><%= note.userDetails.firstName%></td>

                          <td>
                            <div class="action-btn">
                              <a data-toggle="tooltip" data-placement="top" title="View" href="admin/bankNote/<%= note._id %>"
                                ><i class="fa fa-eye" aria-hidden="true"></i
                              ></a>
                              <a href="#" data-href="admin/delete/bankNote/<%= note._id%>" data-toggle="modal" data-target="#modal-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>
                          </td>
                        </tr>
                        <%})%>     
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal coman-modal fade"
      id="Status-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog modal-sm modal-a" role="document">
        <div class="modal-content text-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Status</h2>
          <div class="form-group text-left">
            <label> <span>Document 1 :</span> Approve</label>
          </div>
          <div class="form-group text-left">
            <label><span>Document 2 : </span> Reject Image is Blur</label>
          </div>
          <div class="form-group text-left">
            <label><span>Document 3 : </span> Approve</label>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal coman-modal fade"
      id="modal-delete"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
          <h3>Are you sure you want to Delete Bank Note?</h3>
          <div class="clearfix">
            <button
              type="submit"
              class="btn btn-default m-r-sm"
              data-dismiss="modal"
            >
              No
            </button>
            <button
              type="submit"
              data-toggle="modal"
              class="btn btn-primary deleteBankNote"
              data-dismiss="modal"
              data-target="#modal-successa"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal coman-modal fade"
      id="cong-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="success-msg-icon">
            <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
          </div>
          <h2>Token Sent successfully !!</h2>
        </div>
      </div>
    </div>
    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/script.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <div
      class="modal coman-modal fade"
      id="Add-Coins"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Add Note</h2>
          <!--<div class="from-group text-left">
                     <h4>Notification Text</h4>
                     <input type="text" class="form-control cal-input" placeholder="">
                     </div>
                     <div class="from-group text-left">
                     <h4>Link in  note</h4>
                     <input type="text" class="form-control cal-input" placeholder="">
                     </div>-->
          <!--y_start-->
          <div class="from-group text-left">
            <h4>Add Note</h4>
            <input type="text" class="form-control cal-input" placeholder="" />
          </div>
          <div class="from-group text-left">
            <h4>Ruler</h4>

            <input type="text" class="form-control cal-input" placeholder="" />
          </div>
          <div class="from-group text-left">
            <h4>Year</h4>

            <input type="text" class="form-control cal-input" placeholder="" />
          </div>
          <div class="from-group text-left">
            <h4>Price W/O grading</h4>
            <input type="text" class="form-control cal-input" placeholder="" />
          </div>
          <div class="from-group text-left">
            <h4>Price with grading</h4>
            <input type="text" class="form-control cal-input" placeholder="" />
          </div>

          <div class="from-group text-left">
            <h4>History</h4>
            <textarea
              type="text"
              class="form-control cal-input"
              placeholder=""
            ></textarea>
          </div>

          <!--y_end-->
          <!--<div class="from-group text-left">
                     <h4>Select Member Type</h4>
                     <select  class="form-control cal-input"><option>Select Member Type</option><option>Member1</option><option>Member2</option></select>
                     </div>
                     <div class="from-group text-left">
                     <h4>Select Age Type</h4>
                     <select  class="form-control cal-input"><option>Select Age Type</option><option> 23</option><option> 59</option></select>
                     </div>
                     <div class="from-group text-left">
                     <h4>Select Gender</h4>
                     <select  class="form-control cal-input"><option>Select Gender Type</option><option> Female</option><option> Male</option></select>
                     </div>
                     <div class="from-group text-left">
                     <h4>Zip</h4>
                     <select  class="form-control cal-input"><option>Select Zip Type</option><option> 315666</option><option> 380013</option></select>
                     </div>-->
          <div class="text-center" id="modal-delete">
            <!--<button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#modal-success">Send all  </button>-->
            <button
              type="submit"
              class="btn btn-primary m-l-sm"
              data-toggle="modal"
              data-dismiss="modal"
              data-target="#modal-success"
            >
              Add
            </button>
            <button
              type="submit"
              class="btn btn-default m-l-sm"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal coman-modal fade"
      id="modal-successa"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="success-msg-icon">
            <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
          </div>
          <h2>Deleted successfully !!</h2>
        </div>
      </div>
    </div>
    <div
      class="modal coman-modal fade"
      id="modal-success"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="success-msg-icon">
            <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
          </div>
          <h2>Added successfully !!</h2>
        </div>
      </div>
    </div>
  </body>
</html>
