<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Collection Valuation</title>
    <base href="/">
    <link rel="icon" type="image/ico" href="img/logo-modal.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mystyle-coman.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <link href="css/admin-style.css" rel="stylesheet">
    <link href="css/datatables.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body class="bg-color">
    <div id="wrapper">
        <nav class="navbar-default navbar-expand-lg  navbar-static-side left-main-menu" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <div class="logo-panel text-center float-n">
                                <a href="admin/dashboard"> <img src="img/logo-modal.png" alt=""></a>
                            </div>
                        </div>
                        <div class="logo-element">
                            <a href="admin/dashboard"> <img src="img/logo-modal.png" alt=""></a>
                        </div>
                    </li>
                    <li>
                        <a href="admin/dashboard" title="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i>
                            <span class="nav-label">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="admin/members" title="Members"><i class="fa fa-users" aria-hidden="true"></i> <span
                                class="nav-label">Members </span></a>
                    </li>
                    <li class="">
                        <a href="admin/coins" title="Coins"><i class="fa fa-database" aria-hidden="true"></i> <span
                                class="nav-label">Coins</span></a>
                    </li>
                    <li>
                        <a href="admin/bankNotes" title="Bank Note"><i class="fa fa-file-text"
                                aria-hidden="true"></i><span class="nav-label">Bank Note</span></a>
                    </li>
                    <li>
                        <a href="admin/graded-coins" title="Graded coins"><i class="fa fa-usd" aria-hidden="true"></i>
                            <span class="nav-label">Graded coins </span></a>
                    </li>
                    <li>
                        <a href="admin/graded-notes" title="Graded Notes "><i class="fa fa-file" aria-hidden="true"></i>
                            <span class="nav-label margin-top">Graded Notes </span></a>
                    </li>
                    <li>
                        <a href="admin/orders" title="Orders"><i class="fa fa-cart-arrow-down"
                                aria-hidden="true"></i><span class="nav-label margin-top">Orders</span></a>
                    </li>
                    <li>
                        <a href="admin/auctions" title="Auction"><i class="fa fa-gavel" aria-hidden="true"></i> <span
                                class="nav-label margin-top">Auction</span></a>
                    </li>
                    <li  class="">
                        <a href="admin/kycRequests" title="Kyc"><i class="fa fa-briefcase"></i> <span class="nav-label">KYC Request</span></a>
                     </li>
                    <li>
                        <a href="admin/disputeRequest" title="Dispute Request"><i class="fa fa-question-circle"
                                aria-hidden="true"></i> <span class="nav-label margin-top">Dispute Request</span></a>
                    </li>

                    <li>
                        <a href="admin/cmsPages" title="CMS Pages"><i class="fa fa-file-text-o"
                                aria-hidden="true"></i><span class="nav-label margin-top">CMS Pages</span></a>
                    </li>
                </ul>
            </div>
        </nav>


        <div id="page-wrapper" class="dark-bg">
            <div class="row top-menu2">
                <nav class="navbar navbar-static-top dark-bg-header top-menu" role="navigation"
                    style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i>
                        </a>
                     </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="user-info-box welcome tooltipa">
                            <div class="dropdown d-flex">
                                <span class="prof-img">
                                    <a href="admin/profile"> 
                                        <% if( data.map(x=>x.profilePic).some(element => element === undefined)){ %>
                                        <img alt="image" class="img-back" src="img/prf-img.png"></a>
                                        <% }else{ %>
                                        <img alt="image" class="img-back" src="<%=data.map(x=>x.profilePic.url)%>"></a>
                                        <%}%>
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                                    <span class="clear"> <span class="block m-t-xs">
                                        </span> <span class="text-muted text-xs block">
                                            <%=data.map(x=>x.firstName)%> <%=data.map(x=>x.lastName)%><b
                                                        class="caret"></b>
                                        </span> </span> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="admin/profile">Profile</a></li>

                                    <!--                            <li><a href="contacts.html">Contacts</a></li>-->
                                    <li><a href="admin/logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <div class="box-heading">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <h2>My Account</h2>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <% if(error) { %>
                                                <div class="alert alert-danger alert-dismissible " role="alert">
                                                  <strong><%=error%></strong> 
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                              <% } %>
                                              <% if(success) { %>
                                                <div class="alert alert-success alert-dismissible " role="alert">
                                                  <strong><%=success%></strong>
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                               <% } %>
                                        </div>
                                    </div>

                                </div>

                                <div class="my-ac-section">
                                    <div class="my-ac-img">
                                        <% if(data.map(x=>x.profilePic).some(element => element === undefined)){ %>
                                        <img src="img/prf-img.png" alt="">
                                        <% }else{ %>
                                        <img id="profile" src="<%= data.map(x=>x.profilePic.url)%>" alt="">
                                        <%}%>
                                        <form action="admin/profile/uploadProfilePic?_method=PUT" method="POST" enctype="multipart/form-data">
                                        <div class="browse-btn" >
                                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                <input type="file"  name="file" accept="image/*" id="uploadPic">
                                             
                                         </div>
                                         <br>
                                         <div>
                                            
                                            <button type="submit"  class="btn btn-sm btn-primary" >Upload  </button>
                                         </div>
                                           

                                           
                                        </form>
                                    </div>
                                    <div id="">
                                        <div class="form-group usr-form">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <input disabled="" type="text" name="" placeholder="First Name" class="form-control"
                                                value="<%=data.map(x=>x.firstName)%>">
                                        </div>
                                        <div class="form-group usr-form">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <input disabled="" type="text" placeholder="Last Name" class="form-control"
                                                value="<%=data.map(x=>x.lastName)%>">
                                        </div>
                                        <div class="form-group ph-form">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <input disabled="" type="text" placeholder="Phone" class="form-control"
                                                value="<%=data.map(x=>x.countryCode)%><%=data.map(x=>x.phone)%>">
                                        </div>
                                        <div class="form-group eml-form">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <input type="text" placeholder="Email" class="form-control" disabled=""
                                                value="<%=data.map(x=>x.email)%>">
                                        </div>
                                        <div class="clearfix change-pw">

                                            <a href="admin/update-password"><i
                                                    class="fa fa-lock" aria-hidden="true" style="position: relative; display: inline-block; top: 1px;
    left: -4px;"></i> Change Password</a>
                                        </div>
                                        <div class="clearfix">
                                            <button type="submit"  class="btn btn-primary btn-block" data-toggle="modal"
                                                data-target="#claimnowa">Update</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/previewProfilePic.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/plugins/pace/pace.min.js"></script>



    <div class="modal fade coman-modal" id="modal-change-pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form role="form" id="updatepassword">
            
            <div class="modal-content text-center">
                <div>
                    <button type="button" class="close modal-close" data-dismiss="modal">&times;</button>
                </div>
                <h2> Change Password</h2>

                <div class="form-group pw-form">
                    <input id="oldPassword" type="password" name="oldPassword" class="form-control" placeholder="Old Password" required=true value="">
                </div>
                <div class="form-group pw-form">
                        <input id="newPassword" type="password" name="newPassword" class="form-control" placeholder="New Password" value="">
                    </div>
                    <div class="form-group pw-form">
                        <input id="confirmPassword" type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password" value="">
                    </div>
                    <button type="button"  class="btn btn-primary updatePassword" data-toggle="modal" data-dismiss="modal"
                    data-target="#modal-success">Submit</button>
                    
                    
                    
                </form>
                    </div>
                </div>
            </div>
    <div class="modal coman-modal  fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <% if(error) { %>
                    <h2 class="alert alert-danger" role="alert"><strong><%= error %></strong></h2>
                   <% }else{ %>
                <h2>Updated successfully !!</h2>
                <%}%>
            </div>
        </div>
    </div>

</script>
</body>


</html>