<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Collection Valuation</title>
   <link rel="icon" type="{{ACCESSURL}}image/ico" href="{{ACCESSURL}}img/logo-modal.png">
   <link href="{{ACCESSURL}}css/bootstrap.min.css" rel="stylesheet">
   <link href="{{ACCESSURL}}font-awesome/css/font-awesome.css" rel="stylesheet">
   <link href="{{ACCESSURL}}css/animate.css" rel="stylesheet">
   <link href="{{ACCESSURL}}css/style.css" rel="stylesheet">
   <link href="{{ACCESSURL}}css/mystyle-coman.css" rel="stylesheet">
   <link href="{{ACCESSURL}}css/media.css" rel="stylesheet">
   <link href="{{ACCESSURL}}css/admin-style.css" rel="stylesheet">
   <link href="{{ACCESSURL}}css/datatables.min.css" rel="stylesheet">
</head>

<body>
   <div id="wrapper">
      <nav class="navbar-default navbar-expand-lg  navbar-static-side left-main-menu" role="navigation">
         <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
               <li class="nav-header">
                  <div class="dropdown profile-element">
                     <div class="logo-panel text-center float-n">
                        <a href="dashboard.html"> <img src="{{ACCESSURL}}img/logo-modal.png" alt=""></a>
                     </div>
                  </div>
                  <div class="logo-element">
                     <a href="dashboard.html"> <img src="{{ACCESSURL}}img/logo-modal.png" alt=""></a>
                  </div>
               </li>
               <li>
                  <a href="dashboard.html" title="dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> <span
                        class="nav-label">Dashboard</span></a>
               </li>
               <li>
                  <a href="members.html" title="Members"><i class="fa fa-users" aria-hidden="true"></i> <span
                        class="nav-label">Members </span></a>
               </li>
               <li>
                  <a href="Coins.html" title="Coins"><i class="fa fa-database" aria-hidden="true"></i> <span
                        class="nav-label">Coins</span></a>
               </li>
               <li>
                  <a href="BankNote.html" title="Bank Note"><i class="fa fa-file-text" aria-hidden="true"></i><span
                        class="nav-label">Bank Note</span></a>
               </li>
               <li>
                  <a href="Gradedcoins.html" title="Graded coins"><i class="fa fa-usd" aria-hidden="true"></i> <span
                        class="nav-label">Graded coins </span></a>
               </li>
               <li>
                  <a href="GradedNotes.html" title="Graded Notes "><i class="fa fa-file" aria-hidden="true"></i> <span
                        class="nav-label margin-top">Graded Notes </span></a>
               </li>
               <li>
                  <a href="Orders.html" title="Orders"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span
                        class="nav-label margin-top">Orders</span></a>
               </li>
               <li class="active">
                  <a href="Auction.html" title="Auction"><i class="fa fa-gavel" aria-hidden="true"></i> <span
                        class="nav-label margin-top">Auction</span></a>
               </li>
               <li>
                  <a href="DisputeRequest.html" title="Dispute Request"><i class="fa fa-question-circle"
                        aria-hidden="true"></i> <span class="nav-label margin-top">Dispute Request</span></a>
               </li>

               <li>
                  <a href="CMSPages.html" title="CMS Pages"><i class="fa fa-file-text-o" aria-hidden="true"></i><span
                        class="nav-label margin-top">CMS Pages</span></a>
               </li>
            </ul>
         </div>
      </nav>
      <div id="page-wrapper" class="dark-bg">
         <div class="row top-menu2">
            <nav class="navbar navbar-static-top dark-bg-header top-menu" role="navigation" style="margin-bottom: 0">
               <div class="navbar-header">
                  <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                  </a>
                  <!-- <form role="search" class="navbar-form-custom" action="search_results.html"> -->
                  <!--  <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                        </form> -->
               </div>
               <ul class="nav navbar-top-links navbar-right">
                  <li class="user-info-box welcome tooltipa">
                     <div class="dropdown d-flex">
                        <span class="prof-img">
                           <a href="profile.html"> <img alt="image" class="img-back" src="{{ACCESSURL}}img/user-image.png"></a>
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                           <span class="clear"> <span class="block m-t-xs">
                              </span> <span class="text-muted text-xs block">sanyoni<b class="caret"></b></span> </span>
                        </a>
                        <ul class="dropdown-menu">
                           <li><a href="profile.html">Profile</a></li>

                           <!--                            <li><a href="contacts.html">Contacts</a></li>-->
                           <li><a href="home-login.html">Logout</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </nav>
         </div>